@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');
*{
	margin: 0px;
	padding: 0px;
}
body{
	background-image: url(../img/fundo.jpg);
	background-repeat: no-repeat;
	background-size:100vw 100vh;
	background-attachment: fixed;
}
section{
	display: flex;
	justify-content: center;
}
img{
	width: 300px;
	height: none;
	position: absolute;
	top: 51vh;
	right: 15vw;
}
audio{
	position: absolute;
	top: 30vh;
	right: 15vw;
	border: 6px solid #BE2C4E;
 	border-radius: 50px;
}
#texto p{
	color: white;
	font-family: "Cormorant Upright", serif;
	font-size: 19px;
}
#texto{
	position: absolute;
	top: 20vh;
	right: 37vw;
	text-align: center;
}
#texto h2{
	color: #DC335A;
	box-shadow: 5px 5px 10px #460100;
	border-radius: 20px;
	text-shadow: 5px 5px 10px #460100;
}
h1{
	color: #BE2C4E;
	box-shadow: 5px 5px 10px #460100;
	border-radius: 20px;
	text-shadow: 5px 5px 10px #460100;
	font-size: 80px;
}

